#!/bin/sh
########################################################## {tag.top} ###
## IBM Confidential
## OCO Source Materials
## *** siam-msv-core ***
##
## (C) Copyright IBM Corporation 2021  
##
## The source code for this program is not published or otherwise
## divested of its trade secrets, irrespective of what has been
## deposited with the U.S. Copyright Office.
########################################################## {tag.end} ###

# ---------------------------------------------------------------------------
#
# Script:  start-opts.sh
# Author:  Match Grun
# Purpose: Startup options.
#
# ---------------------------------------------------------------------------

jdk_version={{ jdk_name_base }}
java_opts=''
app_config={{ app_config_file }}

# ----------------------------------------------------------------------------
# End of Configuration.
# ----------------------------------------------------------------------------


